@import 'reset.scss';
@import 'typography.scss';
@import 'header.scss';

.sb-wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 16px;
}

.sb-bathroom-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.sb-results {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 250px;
}

.sb-location-toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}