.sb-wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 16px;
}

.sb-tp-logo {
    height: auto;
    width: 100%;
    max-width: 200px;
}

.sb-bathroom-list {
    display: flex;
    flex-wrap: wrap;
}